<ol>
  <%= flash[:notice] %>
  <% @bookmarks.each do |bookmark|  %>
    <li id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ol>
